body{
    margin:0%;
    margin-top: 0%;
    color: blanchedalmond;
    background-color: black;
}
header{
    margin-top: -1%;
    background-color: white;
    color: black;
}
div.post{
    border-bottom: solid white 2px;
    margin: 50px;
}
div#posts{
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}
footer{
    background-color: white;
    color:black;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 0.5%;
    text-align: center;
}