body{
    margin:0%;
    margin-top: 0%;
    color: blanchedalmond;
    background-color: black;
}
header{
    margin-top: -1%;
    background-color: white;
    color: black;
}
div .post{
    border-bottom: solid white 1px;
}
footer{
    background-color: white;
    color:black;
    padding: 0.5%;
    text-align: center;
}