header{
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid black;
}
ul{
    align-content: space-around;
    list-style-type: none;
}
li{
    padding: 2px;
    margin: 2px;
    background-color: black;
    display: inline;
    font-size: 25px;
}
li a{
    text-decoration: none;
    color:white;
}
li a:hover{background-color: white; color: black;}